* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #862323;
  color: #2e0f0f;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  letter-spacing: 2px;
  color:aqua;
}

.subtitle {
  font-size: 0.9rem;
  opacity: 0.6;
  margin-bottom: 40px;
  color:aqua;
}

#timer {
  font-size: 3rem;
  letter-spacing: 3px;
  color:aqua;
}

#message {
  margin-top: 40px;
  font-size: 1.1rem;
  line-height: 1.8;
  opacity: 0.85;
}

.hidden {
  display: none;
}